<!DOCTYPE html>
<html>
  <head>
    <title>Volanteer Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="login" method="POST">
      <label for="MailInput">Mail</label>
      <input type="email" name="mail" id="MailInput"> 
      <label for="PasswordInput">Password</label>
      <input type="password" name="password" id="PasswordInput">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
